@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#333333;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#E8E8E8;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	background:#f5f5f5;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:bold;
	color:#0d6887;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#0d6887;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.logo {
	padding:0;
	width:auto;
	float:left;
	height:110px;
}
h1 {
	margin:0;
	padding:18px 0 0 20px;
	font-size:40px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:uppercase;
}
h1 a, h1 a:hover {
	color:#0d6887;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:14px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:uppercase;
	color:#b2b2b2;
}
.slider {
	padding:0 0 10px;
	background:url(../images/slider_bg.gif) repeat-x left bottom;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:25px 0 0;
	float:right;
	height:67px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:67px;
	float:left;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
	background:url(../images/menu_split.gif) no-repeat left center;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:24px 28px 24px 16px;
	font-size:15px;
	line-height:19px;
	font-weight:normal;
	color:#333;
	text-decoration:none;
	text-transform:uppercase;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#0d6887;
}
.content {
}
.content_resize {
	margin:0 auto;
	padding:24px 0;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:left;
	width:960px;
	text-align:justify;
	line-height:21px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:0;
	font-size:30px;
	line-height:1.2em;
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:8px;
	border:none;
}
.content .mainbar .article {
	margin:0 0 20px;
	padding:0 0 20px;
	background:url(../images/dot.gif) repeat-x left bottom;
}
.content .mainbar .post_content {
	float:right;
	width:700px;
	text-align:justify;
	line-height:21px;
}

.content .mainbar .post_contentSmall {
	float:right;
	width:300px;
	text-align:justify;
	line-height:21px;
}

.content .mainbar .post_content strong {
	color:#3f3f3f;
}
.content .sidebar {
	padding:0;
	float:right;
	width:240px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:0 0 24px;
}
.content .sidebar h2 {
	color:#595f61;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}
ul.sb_menu li a {
	color:#9a9a9a;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#161616;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#0d6887;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin-bottom:8px;
	padding:6px 0;
	color:#929292;
}
p.infopost a {
	padding:0 2px;
	color:#929292;
	text-decoration:underline;
}
p.infopost a.com {
	float:right;
	font-weight:normal;
	text-decoration:none;
}
p.infopost a.com:hover {
	text-decoration:underline;
}
p.infopost a.com span {
	padding-left:4px;
	font-weight:bold;
	color:#0d6887;
}
a.rm {
	display:block;
	float:left;
	padding:4px 0 0;
	font-weight:bold;
	text-decoration:none;
	color:#3f3f3f;
	border-bottom:1px solid #3f3f3f;
}
.content p.pages {
	margin:0;
	padding:0 0 24px;
	font-size:11px;
	color:#6d6d6d;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#0d6887;
	border:1px solid #0d6887;
}
.content p.pages a {
	color:#6d6d6d;
	background:#fff;
	border:1px solid #cbcbcb;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	background:url(../images/fbg_bg.gif) repeat-x left bottom;
	color:#6e6e6e;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:24px 20px;
	border-top:10px solid #e3e3e3;
	border-bottom:7px solid #d5d5d5;
	background:#eaeaea;
}
.fbg h2 {
	color:#3f3f3f;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	background-color:#fff;
	border:1px solid #dfdfdf;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:270px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:290px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:276px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#6d6d6d;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#0d6887;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#0d6887;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#3f3f3f;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:300px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:12px;
	background-color:#fff;
}
ol li textarea {
	width:300px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	float:right;
	padding:0;
}
#formsearch {
	margin:0;
	padding:42px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:170px;
	font-size:12px;
	line-height:14px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:#fff;
}
.footer_resize {
	margin:0 auto;
	padding:12px 0;
	width:960px;
	line-height:1.5em;
}
.footer_resize p {
	margin:24px;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#0d6887;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#0d6887;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}

.indexBox1{
width:410px;
height:auto;
padding:5px;
float:left;
margin:15px 0;
}

.indexBox1 ul{
margin:0 0 0 25px;
line-height:30px;
padding:0 0 0 10px;
}

.indexBox2{
width:410px;
height:auto;
padding:5px;
float:right;
margin:15px 0;
padding:0 0 0 10px;
}

.indexBox2 ul{
margin:0 0 0 25px;
padding:0 0 0 10px;
line-height:30px;
}

/* Flash Messages */
div.flash-msg{
    padding:5px; background:green; color:#fff; font-size:14px; margin-bottom:10px;
}
input.field-error, textarea.field-error, select.field-error{
    border:2px solid red;
}

.error-msg{
    color:red;
    margin-left:185px;
    display: block;
    padding:1px;
}

#cat-filter{
    margin-bottom:5px;
}
.flash-error{
    padding: 4px;
    background-color: #FFEEEE;
    border: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    color: #333;
    border-bottom: 2px solid #CCC;
}

.flash-success{
    padding: 8px 8px 8px 8px;
    background-color: #E6F8DD;
    border: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    color: #333;
    border-bottom: 2px solid #CCC;
}